* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    height: 100%;
  }
  
  /* Style the header */
  header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
    background-image:  url(../Images/headerbackgroung.png);
    /*Set Height*/
    height:50%;
    /*Set The Img Position*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  
  /* Container for flexboxes */
  section {
    background-color: none;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  /*For menu */
  section menu {
    display: -webkit-flex;
    display: flex;
  }
  
  section menu span a {
    display: block;
    padding: 8px;
    background-color: black;
  }
  a{
    color: tomato;
  }
  a:hover{
    color: yellow;
  }
  
  .home {
    padding: 10px;
    text-align: center;
    color: white;
    width: 100%;
  }
  
  .news{
    padding: 10px;
    text-align: center;
    width: 100%;
    color: white;
  }

  .about {
    padding: 10px;
    text-align: center;
    width: 100%;
    color: white;
  }
  
  .contact {
    padding: 10px;
    text-align: center;
    width: 100%;
    color: white;
  }

  
  /*For table*/
  table, tr, th, td {
      width: 50%;
      border: 1px solid white;
      text-align: center;
      color: white;
    }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 5px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
      height: 100%;
    }
  }