* {
    box-sizing: border-box;
    
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    height: 100%;
  }

  .section{
    min-width: fit-content;
    min-height: 100vh;
    padding:0px; 
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    text-align: center;
  }
  
  /* Style the header */
  .header {
    padding: 0px;
    text-align: center;
    font-size: 30px;
    color: white;
    background-image:  url(../Images/headerbackgroung.png);
    /*Set Height*/
    height:20%;
    /*Set The Img Position*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }



  /* Container for flexboxes  */
  .section {
    background-color: transparent;
    display: -webkit-flex; /*(Make all content on the center)*/ 
    flex-direction: column;
    text-align: center;
  }

  /*For menu */
  .menu {
    padding: 5px;
    display: flex; 
    flex-direction:row ;
    /*padding-inline-start: 0px;*/
    justify-content: center;
   
  }
  
  .menu span a {
    display: block;
    padding: 8px;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    color: white;
  }
 
  .menu span a:hover{
    color: blue;
  }
  /*-----------Home-----------*/ 

  /*.home img {
    height: fit-content;
    width: fit-content;
    padding: 100%0;
    position: relative;
  }*/

  
  .home h1{
   padding: 0px;
   text-align: center;
   width: auto;
   height: auto;
   color: white;

  }

  .home h4{
    padding: 0px; 
    text-align: center;
    width: auto;
    color: whitesmoke;
    font-weight: lighter;
  }
 

  /*
  .news{
    padding: 10px;
    text-align: center;
    width: 100%;
    color: white;
  }
*/

  .about {
    padding: 10px;
    width: auto;
    position: relative;
  }

  .about h1{
    text-align: center;
    color: white;
  }
  .about p{
    color: white; 
    padding:0px; 
    width: auto;
    font-weight: lighter;
  }

  .about a{
    color: #777;
  }

  .about a:hover{
    color: #8777;
  }
  /*--------Contact-------*/ 
  .contact{
    padding: 10px;
    width: auto;
    display: block;
   
  }

  .contact h1{
    text-align: center;
    color: white;
  }

  .contact li{ 
    padding: 5px; 
    text-align: left; 
    color: yellow;
    display:list-item ;
    
  }

  .contact a{
    color: greenyellow;

  }

  .contact a:hover{ 
   color: blueviolet;
  }


  /* Style the footer */
  .footer {
    background-color: #777;
    padding: 5px;
    text-align: center;
    color: white;
    position: relative;
    width: 100%;
  }
  
/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
      height: 100%;
    }
  }