* {
    box-sizing: border-box;
    
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    height: 100%;
  }

 
  
  /* Style the header */
  .header {
    padding: 0px;
    text-align: center;
    font-size: 30px;
    color: white;
    background-image:  url(../Images/headerbackgroung.png);
    /*Set Height*/
    height:20%;
    /*Set The Img Position*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .section{
    min-width: -moz-fit-content;
    min-width: fit-content;
    min-height: 100vh;
    padding:0px; 
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    text-align: center;
    background-color: transparent;
    display: -webkit-flex; /*(Make all content on the center)*/ 
    flex-direction: column;
    text-align: center;
  }
    

  /*For menu */
  .menu {
    padding: 5px;
    display: flex; 
    flex-direction:row ;
    /*padding-inline-start: 0px;*/
    justify-content: center;
   
  }
  
  .menu span a {
    display: block;
    padding: 8px;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    color: white;
  }
 
  .menu span a:hover{
    color: blue;
  }
  /*-----------Home-----------*/ 

  /*.home img {
    height: fit-content;
    width: fit-content;
    padding: 100%0;
    position: relative;
  }*/
  .home-section {
    /*background-image:url(../Images/circuit-designed-form-brain_49459-557.jpg) ;   
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat; */
    flex-direction: column;
    width :100%;
    min-height: 100vh;
    padding:0px; 
    align-content: center;
  }
  .home-header  { 
    align-items: top;
    text-align: center;
    color: white;
    padding: 0px; 
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .home {
    align-items: center;
    text-align: center;
    display:flex;
    flex-direction: column;
  }
  
  .home h3{
    padding: 0px;
    color: white;
    align-content: center;
   }
/*-----Buttons-----*/ 
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.glow-on-hover a{
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100%;
}

/*----For Table----*/
  /*.home table,tr, td{
    border: 3px solid Red ; 
    border-collapse: collapse;
    padding:0px; 
    text-align: center;
    align-content: center;
    position: relative ;
    height: 200px; 

  }
  .home table {
    height: 100%;
    width: 100%; 
  }

  .home table alt {
    height: 100%;
    width: 100%; 
  }*/
  /*.home a{
    padding: 0px;
    color: white ;
    text-align: centre;
    font-size: 20px;
  }
  .home a:hover{ 
  color: #8777;
  }*/
  

  /*.discord{
    position: relative;
    text-align: centre;
  }*/


  /*
  .news{
    padding: 10px;
    text-align: center;
    width: 100%;
    color: white;
  }
*/
/*-----About-------*/
  .about {
    padding: 10px;
    width: auto;
    position: relative;
    align-items: center;
  }

  .about h1{
    text-align: centre;
    color: white;
  }
  .about h3{
    text-align: center;
    color: #469746;
  }
  .about p{
    color: white; 
    padding:0px; 
    width: auto;
    font-weight: lighter;
    text-align: left;
  }

  .about a{
    color: #777;
  }

  .about a:hover{
    color: #8777;
  }


  /*--------Contact-------*/ 
  .contact{
    padding: 10px;
    width: auto;
    display: block;
   
  }

  .contact h1{
    text-align: center;
    color: white;
  }

  .contact li{ 
    padding: 5px; 
    text-align: left; 
    color: yellow;
    display:list-item ;
    
  }

  .contact a{
    color: greenyellow;

  }

  .contact a:hover{ 
   color: blueviolet;
  }


  /* Style the footer */
  .footer{
    background-color: #777;
    padding: 5px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 5px;  
    right: 2px;   
    width: 100%;  
    left: 2px;
  }
  
/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
      height: 100%;
    }
  }