*, 
*::before,
*::after{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    height: 100%;
  }

 
  
  /* Style the header */
  .header {
    padding: 0px;
    text-align: center;
    font-size: 30px;
    color: white;
    background-image:  url(../Images/headerbackgroung.png);
    /*Set Height*/
    height:30%;
    /*Set The Img Position*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin:10rem; 
  }

  .section{
    min-width: -moz-fit-content;
    min-width: fit-content;
    min-height: 100vh;
    padding:0px; 
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    text-align: center;
    background-color: transparent;
    display: -webkit-flex; /*(Make all content on the center)*/ 
    flex-direction: column;
    text-align: center;
    z-index: 0;
    /*margin-top:50px ;*/
  }
    

  /*For menu */
  .menu {
    padding: 0px;
    display: flex; 
    flex-direction:row ;
    /*padding-inline-start: 0px;*/
    justify-content: center;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    height:50px;
    z-index: 2;
  }

  .menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding:0; 
    overflow: hidden;
    background-color: transparent;
    /*align-items: center;*/
    /*text-align:center;*/
    backdrop-filter: blur(5px);
    width: 100%;
  }
  .menu li {
    float: center;
    /*background-color: #111;*/
    /*width: fit-content;*/
    justify-content: center;
  }

  .menu  li a {
    display:block;
    color: white;
    text-align: center;
    padding:10px 20px; 
    text-decoration:none;
  }

/*------Back To Top ICO------*/
/*.Back_To_Top{
  position:fixed; 
  font-size: 24px;
}*/

.To_Top_Btn{
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #555; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 24px; /* Increase font size */
}

.To_Top_Btn:hover{
  background-color: black;
}

.To_Top_Btn i {
  font-size: 24px;
}

  
  /*.menu span a {
    display: block;
    padding: 8px;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    color: white;
  }
 
  .menu span a:hover{
    color: blue;
  }*/
  /*-----------Home-----------*/ 

  /*.home img {
    height: fit-content;
    width: fit-content;
    padding: 100%0;
    position: relative;
  }*/
  .home-section {
    /*background-image:url(../Images/circuit-designed-form-brain_49459-557.jpg) ;   
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat; */
    flex-direction: column;
    width :100%;
    min-height: 100vh;
    padding:0px; 
    align-content: center;
    justify-content: center;
  }
  .home-header  { 
    /*align-items: top;*/ 
    text-align: center;
    color: white;
    padding: 0px; 
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .home {
    align-items: center;
    text-align: center;
    display:flex;
    flex-direction: column;
  }
  
  .home h3{
    padding: 0px;
    color: white;
    align-content: center;
   }
  /*-----Buttons-----*/ 
  .button{
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
    height: 100px; 
    /*flex-wrap:wrap;*/ 
    display:inline-flex;

  }

  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    box-sizing:border-box; 
  }

  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
      border-radius: 10px;
  }

  .glow-on-hover:active {
    color: #000
  }

  .glow-on-hover:active:after {
    background: transparent;
  }

  .glow-on-hover:hover:before {
    opacity: 1;
  }

  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  .glow-on-hover a{
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
    border:5px; 
  }

  /*----For Table----*/
/*.home table,tr, td{
    border: 3px solid Red ; 
    border-collapse: collapse;
    padding:0px; 
    text-align: center;
    align-content: center;
    position: relative ;
    height: 200px; 

  }
  .home table {
    height: 100%;
    width: 100%; 
  }

  .home table alt {
    height: 100%;
    width: 100%; 
  }
  .home a{
    padding: 0px;
    color: white ;
    text-align: centre;
    font-size: 20px;
  }
  .home a:hover{ 
  color: #8777;
  }*/
  

  /*.discord{
    position: relative;
    text-align: centre;
  }*/


  /*
  .news{
    padding: 10px;
    text-align: center;
    width: 100%;
    color: white;
  }
*/
/*-----About-------*/
  .about {
    padding: 10px;
    width: auto;
    position: relative;
    align-items: center;
  }

  .about h1{
    text-align: centre;
    color: white;
  }
  .about h3{
    text-align: center;
    color: #469746;
  }
  .about p{
    color: white; 
    padding:0px; 
    width: auto;
    font-weight: lighter;
    text-align: left;
  }

  .about a{
    color: #777;
  }

  .about a:hover{
    color: #8777;
  }


  /*--------Contact-------*/ 
  

  .nav{
    max-width: 80rem;
    display: flex;
    align-items: center;
    pointer-events: none;
  }

  .nav:hover{
    pointer-events: auto;
  }

  .sm-header{
    font-size:2.6rem; 
    text-transform: uppercase;
    cursor: pointer;
    pointer-events: auto;
    color: #fff;
  }

  .line{
    width:15rem;
    height: 3px;
    background-color: #fff;
    margin-left: 2rem;
    margin-right: auto;
    transform: scaleX(0.2);
    transform-origin: left;
    transition: transform 0.5s;

  }

  .nav:hover .line{
    transform: scaleX(1);
  }

  .nav-list{
    display: flex;
    list-style: none;
  }

  .nav-item{
    margin-inline: 2.5rem;
    opacity: 0;
    transition: transform 0.5s opacity 0.5s; 
    display: flex;
  }

  .nav-item:nth-child(odd){
    transform:translateY(5rem);
  }

  .nav-item:nth-child(even){
    transform:translateY(-5rem); 
  }

  .nav:hover .nav-item{
    opacity:1;
    transform: translateY(0);
  }

  .nav-link{
    font-size:3.6rem;
    color: #fff;
  }

  .nav-link i{
    transition:color 0.5s;
  }

  .nav-link:hover i.fa-google-plus-square{
    color:#dd4b39;
  }

  .nav-link:hover i.fa-github-square{
    color: #3b5998;
  }

  .nav-link:hover i.fa-linkedin{
    color:#0077b5
  }


  /*.nav-contact{

    padding: 10px;
    width: auto;
    display: block;
   
  }

  .nav-contact h1{
    text-align: center;
    color: white;
  }

  .nav-contact li{ 
    padding: 5px; 
    text-align: left; 
    color: yellow;
    display:list-item ;
    
  }

  .nav-contact a{
    color: greenyellow;

  }

  .nav-contact a:hover{ 
   color: blueviolet;
  }*/


  /* Style the footer */
  .footer{
    background-color: #777;
    padding: 5px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0px;  
    right: 2px;   
    width: 100%;  
    left: 2px;
  }
  
/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
      height: 100%;
    }
  }